body{
   background-image: url("https://media.istockphoto.com/id/938453686/photo/abstract-red-dreamy-background.jpg?b=1&s=170667a&w=0&k=20&c=pRImR3_WMVZX1af0c3MsT4T4-7BMvOehFUV13KGw_6w=");
        background-size: 100%;
}



h1 {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* display: inline-block; */
    text-align: center;
  }
  
  /* .price {
    color: rgb(0, 0, 0);
    font-size: 22px;
  } */
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
