body{
   background-image: url("https://free4kwallpapers.com/uploads/originals/2021/02/22/futuristic-cityscape.-wallpaper_.jpg");
        background-size: 150%;
}



h1 {
    text-align: center;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* display: inline-block; */
    text-align: center;
  }
  
  /* .price {
    color: rgb(0, 0, 0);
    font-size: 22px;
  } */
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.975);
}
  
  .card button:hover {
    opacity: 0.7;
  }

  p{
    word-wrap: break-word;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }